<header class="site-header">
<div class="wrapper">
<nav class="site-nav">         
        <span class="menu-bar" onclick="openNav()">
            <svg id="i-menu" viewBox="0 0 32 32" width="28" height="28" fill="none" stroke="#eee" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%"><path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" /></svg>
        </span>
</nav> 

<div class="profile">
<a href="{{site.baseurl}}/">
<img class="author-image" alt="site-title" src="{{site.baseurl}}/images/{{site.author.image}}">
</a>
<h1 class="author-about">{{site.author.name}}</h1>
</div>
<div class="menu-category">
    <div class="menu-item"><a class="{% if page.url == '/frontend/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/frontend/">前端</a></div>
    <div class="menu-item"><a class="{% if page.url == '/javascript/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/javascript/">JS底层</a></div>
    <div class="menu-item"><a class="{% if page.url == '/es6/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/es6/">ES6</a></div>
    <div class="menu-item"><a class="{% if page.url == '/http/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/http/">Http</a></div>
    <div class="menu-item"><a class="{% if page.url == '/browser/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/browser/">浏览器</a></div>
    <div class="menu-item"><a class="{% if page.url == '/vue/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/vue/">Vue.js</a></div>
    <div class="menu-item"><a class="{% if page.url == '/engineering/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/engineering/">工程化</a></div>
    <div class="menu-item"><a class="{% if page.url == '/node/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/node/">Node.js</a></div>
    <div class="menu-item"><a class="{% if page.url == '/backend/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/backend/">后端</a></div>
    <div class="menu-item"><a class="{% if page.url == '/python/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/python/">Python</a></div>
    <div class="menu-item"><a class="{% if page.url == '/design/' %}active{% endif %} menu-link" href="{{site.baseurl}}/design/">Design</a></div>
    <div class="menu-item"><a class="{% if page.url == '/life/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/life/">Life</a></div>
</div>
</div>
</header>

